@using MVChat.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = Session["user"] as User;
}

<h2>Index</h2>

@if (user != null)
{
    <h3>Hi @user.Name !</h3>

    <h4>
        Title :
        <input id="title" name="title" type="text" />
    </h4>

    <h5>
        Message :
        <input id="content" name="content" type="text" />
    </h5>

    <button id="sendmessage" type="submit">Post message</button>
}
else
{
    using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <h3>
            Writer :
            <input id="name" name="name" type="text" />
            <button type="submit">Log in</button>
        </h3>
    }
}

<div id="messages"></div>

@section scripts{
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var username = '@if (user != null)
                            {
                                @user.Name
                            }';
            var chat = $.connection.messageHub;

            chat.client.showMessage = function (message) {
                var htmlMessage = '<div>' + '<h3>';
                if (message.Title != undefined && message.Title != '')
                    htmlMessage += message.Title + ' - ';
                htmlMessage += message.Writer.Name + ' - ' + message.Date + '</h3>' + message.Content + '</div>';

                $('#messages').append(htmlMessage);
            }

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {

                    var message = {
                        title: $('#title').val(),
                        content: $('#content').val(),
                        writer: {
                            name: username
                        }
                    };

                    chat.server.sendMessage(message);

                    $('#title').val('');
                    $('#content').val('Enter a new message').focus();
                });
            });
        });
    </script>
}